/* Estilo general */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    flex-direction: column; 
    background-color: #f9f9f9;
}

/* Contenedor principal */
.container {
    display: flex;
    width: 100%;
    height: 100%;
}
/* Estilos de la Tabla */
.verification-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.verification-table th, .verification-table td {
    border: 1px solid #ffffff;
    padding: 10px;
    text-align: center;
    
}

.verification-table th {
    background-color: #1A2341;
    color: white;
}

.verification-table td input {
    width: 20px;
    height: 20px;
}

/* Estilo para el campo de Observaciones */
textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    box-shadow: #01327c 0px 3px 8px;
    border-radius: 5px;
    resize: vertical;
}

/* Estilo cuando el radio está seleccionado y centrado */
input[type="radio"]:checked::after {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
}

/* Efecto al pasar el cursor */
input[type="radio"]:hover {
    border-color: #01327c;
}


/* Etiquetas */
label {
    font-weight: bold;
    color: #1A2341;
    margin-bottom: 10px;
    display: block;
}

select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

/* Responsivo */

/* Pantallas medianas a pequeñas (Tablets y menores de 768px) */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 1em;
    }

    .menu {
        min-width: 0;
    }

    .right-section {
        flex: 1;
        padding: 1em;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    form {
        max-width: 100%;
        padding: 1.5em;
    }

    h1 {
        font-size: 28px;
    }

    .tabs {
        flex-direction: column;
        gap: 10px;
    }

    .tablink {
        font-size: 14px;
        padding: 8px;
    }

    .btn {
        font-size: 14px;
        padding: 10px;
    }
}

/* Pantallas muy pequeñas (menos de 480px) */
@media (max-width: 480px) {
    form h1 {
        font-size: 24px;
    }

    .btn {
        font-size: 12px;
        padding: 8px;
    }

    .tabs {
        flex-direction: column;
    }

    .tablink {
        font-size: 12px;
        padding: 8px;
    }
}